* {
  font-family: 'Roboto', 'Open Sans', 'Source Sans Pro', sans-serif;
  /* border: purple solid 1px; */
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

main {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: flex-start;
 margin-left: 20%;
 flex-wrap: wrap;
}

h1 {
  font-size: 5em;
  transition: .2s;
}

h1:hover {
  color:#daa520;
}

h2 {
  font-size: 3em;
  transition: .2s;
}

h2:hover {
  color: #cd853f;
}

h1, h2 {
  margin: 0;
}

h3 {
  font-weight: 200;
}

.content-text {
  margin: 2rem 4rem;
}

.list-header {
  list-style-type: none;
  font-weight: 700;
  transition: .5s;
}

.list-header:hover {
  color: #963f20;
}

#intro {
  margin-left: 2%;

}


.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  margin-left: 5%;
}

nav {
  display: flex;
  flex-direction: column;
  position: fixed;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #353535;
  width: 20%;
  height: 100vh;
}

.logo {
  width: 40%;
  border-radius: 50%;
  border: 8px solid #fff;
  margin-bottom: 24px;
  margin-left: 30%;
  transition: .4s;
}

.logo:hover {
  border: 8px solid #cd853f; 
  margin-bottom: 24px;
  filter: brightness(135%)
}


ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a.list{
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  padding: 8px 20px;
  transition: .15s;
}

a.list:hover {
  background-color: #fff;
  color: #000;  
  font-weight: 500;
  border-radius: 5%;
}

ul.list-nested {
  margin-bottom: 25px;
}

.hyperlink {
  color: #9c5712;
  text-decoration: none;
}

.hyperlink-header {
  font-weight: 700;
}

.hyperlink:hover {
  color: #f38618;
}